<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <nav>
        <a th:href="@{/rooms}">Rooms</a>
        <a th:href="@{/services}">Services</a>
        <a th:href="@{/bookings}">Bookings</a>
    </nav>
    <h1>Customer List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
        </tr>
    </table>
    
    <h1>Add Customer</h1>
    <form th:action="@{/customers}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <button type="submit">Add</button>
    </form>
</body>
</html>